<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlunoController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>322AE49F1BBE5AEB004D4330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322AE4B81BBE5AEB004D4330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322AE4C31BBE5AEB004D4330</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
